.container{
    padding-left: 5%;
    padding-right:5%;
    background-color: black;
}

body{
    margin: 0;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

.topBar{
    background-color: darkgray;
    padding: 0;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.topLinks{
    padding-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
}

.topLinks a {
    text-decoration: none;
    color: black;
}
.linkBox{
    border-bottom: 3px solid darkgray;
}

.linkBox:hover{
    border-bottom: 3px solid black;
}

.pageContent{
    color: white;
    background-color: #1F171C;
    margin: 0;
    text-align: center;
}

.pageContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.pageContent p{
    margin-top: 0;
    padding: 1%;
}

