$containerColor: #1F171C;
$bodyColor: #000000;
$navColor: #A9A9A9;
$textColor: #FFFFFF;
$inputPadding: 5px;
$basePadding: 20px;
$font: 'Ubuntu', sans-serif;
$font2: 'Ubuntu Condensed', sans-serif;
$font3: 'Roboto', sans-serif;

